APP_NAME="Example App"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=db_neda_hris
DB_USERNAME=root
DB_PASSWORD=root

DB2_CONNECTION=mysql2
DB2_HOST=mysql
DB2_PORT=3306
DB2_DATABASE=db_neda_ipms
DB2_USERNAME=root
DB2_PASSWORD=root

DB3_CONNECTION=mysql3
DB3_HOST=mysql
DB3_PORT=3306
DB3_DATABASE=db_neda_sso
DB3_USERNAME=root
DB3_PASSWORD=root

DB4_CONNECTION=mysql4
DB4_HOST=mysql
DB4_PORT=3306
DB4_DATABASE=db_neda_sso
DB4_USERNAME=root
DB4_PASSWORD=root

CACHE_STORE=redis
QUEUE_CONNECTION=database
BROADCAST_CONNECTION=reverb

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null

REVERB_APP_ID=example-app
REVERB_APP_KEY=example-app-key
REVERB_APP_SECRET=example-app-secret
REVERB_HOST=reverb
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY=example-app-key
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
